@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap');

*{           
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-size: 300px, 300px, 100%;
    background: rgba(235,235,235,0.5), url(/img/circle.png), no-repeat, url(/img/triangle.png), no-repeat;
}

.main{
    width: 100%;
    max-width: 900px;
    height: 90vh;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    border-radius: inherit;
}

.left{
    background: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    color: #fff;
    border-radius: 50px;
}

.left_title{
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
}

.icon{
    color: #fff;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 900;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    border: 1px solid currentColor;
}

p{
    margin: 1rem 0;
    max-width: 600px;
    width: 100%;
    font-size: 0.95rem;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
}

input{
    background: #fff;
    border: none;
    width: 300px;
    margin: 15px;
    padding: 1rem 0.75rem;  
}

.help{
    color: inherit;
    margin: 1rem 1rem;
    padding-bottom: 2px;
    border-bottom: 1px dashed #000;
}
.left_btn{
    background: #3AB19B;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 2.75rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.form{
    margin: 0 auto;
}

.right{
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius:  50px;
    height: 680px;
}

.right_title{
    font-size: 32px;
    margin-bottom: 30px;
}
.right_btn{
    padding: 0.5rem 2rem;
    border-radius: 50px;
    background: lightgreen;
}